@page {
    size: A4 portrait;
    margin: 27mm 0mm 32mm 0mm; /** These margins control size of header and footer */
    padding: 5mm 0mm; /** Paddings for content page area to header/footer */
    font-family: "Verdana", sans-serif;
    font-size: 10pt;    
}